* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}


input{
    border: none;
    border-radius: 2px;
    padding-left: 5px;
}

i {
    font-size: 15px;
   padding: 0 10px 0 10px;
   color: rgb(157, 155, 155);
   cursor: pointer;
}

.avatar {
    width: 40px;
    border-radius: 50%;
    padding-left: 10px;
}



.all {
    height: 1000px;
    background-color: rgba(216, 216, 216, 0.563);
}

.up {
    width: 100%;
    height: 150px;
    background-color: teal;
    display: flex;
    justify-content: center;
}

.container {
    width: 1000px;
    height: 700px;
    position: relative;
    top: 5vh;
    display: flex;

}


/* ----- header ----- */
header {
    height: 50px;
    width: 40%;
}

.header-left {
    width: 100%;
    height: 50px;
    
    display: flex;
    justify-content: space-between; 
}

.user-name, .user-name-icon {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-left, .header-right {
    background-color: rgb(226, 226, 226);
}



/* ----- header ----- */





/* ----- main ----- */



.sidebar {
    width: 40%;
    height: 100%;
    background-color: whitesmoke;
}


.left-notifiche {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    background-color: rgba(31, 142, 226, 0.508);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.left-notifiche i {
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    color: rgba(31, 142, 226, 0.508);
}

.outline-gray {
    color: rgb(136, 136, 136);
    font-size: 10px;
    text-decoration: underline;
}

.left-search {
    height: 25px;
    width: 100%;
}


.left-search input{
    width: 100%;
    height: 100%;
}

.left-down {
    width: 100%;
}

.left-down div:nth-child(odd) {
    background-color: rgb(226, 226, 226);
}

.contacts-container {
    height: 50px;
    width: 98%;
    display: flex;
    align-items: center;
}





/* ------ main-right ----- */
.main-right {
    width: 100%;
    height: 100%;
}

.header-right {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.chat-info-left, .chat-info-right {
    display: flex;
    align-items: center;
}

.last-access {
    font-size: 10px;
    color: gray;
}

.message-container {
    height: calc(100% - 100px);
    background-image: url("../img/mine.jpg");
    background-position: cover;
    overflow-y: scroll;
}

.single-message::after {
    display: table;
    content: "";
    clear: both;
  }
  
  .message-item {
    margin: 5px 10px;
    width: max-content;
    padding: 12px;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .single-message.sent > .message-item {
    background-color: #d6f9ba;
    text-align: end;
    float: right;
  }
  
  .date {
    padding-top: 3px;
    text-align: end;
    font-size: 10px;
    color: #bbc3bb;
  }
/* ------ main-right ----- */


.right-down {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(225, 217, 193);
}

.right-down input {
    width: 80%;
    height: 30px;
}

.right-down i {
    width: 10%;
    text-align: center;
}
/* ----- main ----- */
