<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOLZAPP</title>
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    
    <div id="app">
        <div class="all">
            <div class="up">
                <div class="container">

                    
                    
                    <!-- ----- SIDEBAR ------ -->
                        <div class="sidebar">

                            <!-- ----- HEADER-LEFT ----- -->
                            <div class="header-left">
                                <div class="user-name">
                                    <img class="avatar" src="img/avatar_io.jpg" alt="">
                                    <div class="user"> Nome Utente</div>
                                </div>
                                <div class="user-name-icon">
                                    <i class="fas fa-circle-notch"></i>
                                    <i class="fas fa-comment-alt"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </div>
                            <!-- ----- // HEADER-LEFT ----- -->


                            <!-- ----- MAIN-LEFT ----- -->
                            <div class="left-notifiche">
                                <i class="fas fa-bell-slash"></i>
                                <div class="notifiche-text">
                                    <strong>Ricevi notifiche di nuovi messaggi</strong>
                                    <div class="outline-gray">Attiva notifiche dekstop</div>
                                </div>
                            </div>
                            <div class="left-search">
                                <input v-model="search" type="text" placeholder="Cerca o inizia una nuova chat.">
                            </div>
                            <div class="left-down">

                                <div v-for="(contact, index) in contacts" @click="indexClick(index)" class="contacts-container" v-if="findAChat(contact)">
                                    <img  @click="indexClick(index)" class="avatar" :src="'img/' + 'avatar' + contact.avatar + '.jpg'" alt="">
                                    <div class="contact-name">
                                        {{(contact.name)}}
                                    </div>
                                </div>

                            </div>
                            <!-- ----- // MAIN-LEFT ----- -->

                        </div>
                        <!-- ----- // SIDEBAR ------ -->

                        
                        <!-- ----- RIGHT-SECTION ----- -->
                        <div class="main-right">

                            <!-- ----- HEADER-RIGHT ----- -->
                            <div class="header-right">
                                <div class="chat-info-left"         >
                                    <div  class="avatar-container">
                                        <img class="avatar" :src="['img/avatar' + contacts[currentIndex].avatar + '.jpg']" alt="">
                                    </div>
                                    <div class="chat-name">
                                        <div>{{contacts[currentIndex].name}}</div>
                                        <div class="last-access">Ultimo accesso oggi alle</div>
                                    </div>
                                </div>
                                <div class="chat-info-right">
                                    <i class="fas fa-search"></i>
                                    <i class="fas fa-paperclip"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </div>
                            <!-- ----- // HEADER-RIGHT ----- -->

                            <!-- ------ MESSAGE-CONTAINER ----- -->
                                <div class="message-container">

                                    <div class="single-message"v-for="message in contacts[currentIndex].messages":class="message.status">
                                    <div class="message-item">
                                      {{message.text}}
                                      <div class="date">{{message.date}}</div>
                                    </div>
                                  </div>

                                </div>
                            <!-- ------ // MESSAGE-CONTAINER ----- -->

                                
                            <!-- ------ // RIGHT-DOWN ----- -->
                            <div class="right-down">
                                <i class="far fa-grin"></i>
                                <input type="text" v-model="writedMessage"@keyup.enter="addUserMessage(currentIndex)" placeholder="Scrivi un messaggio...">
                                <i class="fas fa-microphone"></i>
                            </div>
                        </div>
                        <!-- ----- // RIGHT-SECTION ----- -->

                        
                    


                </div>    
            </div>
        </div>    
    </div>
    <script src="js/script.js"></script>
</body>
</html>






<!-- <div class="message-box to-sent" v-for="message in contacts[currentIndex].messages">
    <div v-if="message.status=='sent'" class="message sent">
        {{message.text}}
        <div class="message-data">{{message.date}}</div>
    </div>
</div>
<div class="message-box" v-for="message in contacts[currentIndex].messages">
    <div v-if="message.status=='received'" class="message received" >
        {{message.text}}
        <div class="message-data">{{message.date}}</div>
    </div>
</div>
<div class="message-box to-sent" v-for="message in myMessage">
    <div class="message sent">
        {{message.text}}
        <div class="message-data">{{message.date}}</div>
    </div>
</div> -->




                    